/* 
0    -  600 phone
600  -  900 phone portrait
900  - 1200 tablet landscape
1200 - 1800 desktop
1800 +      big dick desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- bigdick

ORDER: Base + Typography > General layout + grid > Page layout > Components

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (max-width: 37.5em) {
  .u-hide-phone {
    display: none !important;
    visibility: none !important; } }

.u-float-right {
  float: right !important;
  margin-left: auto !important;
  margin-right: 0 !important; }

.container {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #ecf9ff, #f4faf0); }

.menu {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #f4f4f4;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .menu {
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(9, 24, 30, 0.3); } }
  .menu__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .menu__title {
        margin: 0; } }
  .menu__options, .menu__info {
    display: flex;
    align-items: center; }
  .menu__sort:link, .menu__sort:visited {
    text-decoration: none;
    color: #09181e;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #c1c1c1;
    border-radius: 3px; }
    .menu__sort:link:not(:last-child), .menu__sort:visited:not(:last-child) {
      margin-right: 2rem; }
    .menu__sort:link:hover, .menu__sort:link:active, .menu__sort:visited:hover, .menu__sort:visited:active {
      background-color: #f4f4f4; }
  .menu__filter-icon {
    height: 1.3rem;
    width: 1.3rem;
    padding: .2rem;
    box-sizing: content-box;
    fill: #09181e;
    display: inline-block; }
    .menu__filter-icon--sort {
      margin-right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .menu__filter-icon--sort {
          margin: 0; } }
  .menu__filter {
    font-size: 1.1rem;
    font-weight: 600; }
    @media only screen and (max-width: 56.25em) {
      .menu__filter {
        display: none;
        visibility: none; } }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .menu__icon {
    display: flex;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    fill: #09181e; }
    .menu__icon--right {
      margin-left: auto;
      align-self: flex-end; }
  .menu__subtitle {
    color: #c1c1c1;
    margin-left: 3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #f4f4f4;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding: .4rem .7rem; }
  .menu__main {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    padding: 1.1rem; }
  .menu__main-list {
    list-style: none;
    position: absolute;
    top: 6.5rem;
    background-color: #fff;
    color: #85c559;
    border: 1px solid #c1c1c1;
    border-radius: 3px; }
  .menu__main-item {
    display: flex; }
    .menu__main-item:not(:last-child) {
      border-bottom: 1px solid #f4f4f4; }
  .menu__main-link:link, .menu__main-link:visited {
    text-decoration: none;
    color: #09181e;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 1rem; }
  .menu__main-link:active, .menu__main-link:hover, .menu__main-link:focus-within {
    background-color: #d8edca; }
  .menu__main-hover {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    margin-top: 1rem;
    left: 15rem;
    list-style: none;
    top: 7rem;
    width: auto;
    background-color: #fff;
    color: #85c559;
    border: 1px solid #c1c1c1;
    border-radius: 3px; }
  .menu__main-hover-item {
    clear: both;
    width: 100%;
    display: flex;
    white-space: nowrap; }

.menu__main-item:hover > .menu__main-hover,
.menu__main-item:focus-within > .menu__main-hover,
.menu__main-item .menu__main-hover:hover,
.menu__main-item .menu__main-hover:focus {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex: 1; }

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%; }

.show {
  display: block; }

.hide {
  display: none; }

.search {
  display: flex;
  margin: 1rem 0;
  border: 1px solid #c1c1c1;
  border-radius: 3px; }
  @media only screen and (max-width: 37.5em) {
    .search {
      margin: 1rem 0; } }
  .search__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.2rem;
    border: none;
    padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        display: none;
        visibility: none; } }
  .search__button {
    border: none; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 1.3rem;
    width: 1.3rem;
    padding: 1.2rem;
    display: flex;
    align-self: center;
    box-sizing: content-box; }

.account {
  font-size: 1.3rem;
  background-color: white;
  border-radius: 3px;
  margin-top: 8rem; }
  .account__list-item {
    text-decoration: none;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4; }
    .account__list-item:nth-child(even) {
      background-color: #f4f4f4; }
    .account__list-item:hover, .account__list-item:active {
      background-color: #d8edca; }
  .account__order {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    font-weight: 600;
    padding-bottom: 2rem;
    align-items: center;
    padding: 1rem 2rem; }
  .account__span {
    font-weight: 600; }
  .account__category {
    margin-left: 1rem;
    margin-right: auto;
    font-size: 1.1rem;
    color: #c1c1c1; }
    .account__category:hover {
      border-bottom: 1px solid #c1c1c1; }
  .account__link:link, .account__link:visited {
    text-decoration: none;
    color: #09181e;
    display: flex;
    align-items: center;
    padding: 2rem;
    flex: 1; }
  .account__list-image {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 1.5rem; }
  .account__quickaccess {
    display: flex; }
  .account__link-icon {
    margin-right: 1.5rem;
    cursor: pointer; }
  .account__quickicon {
    fill: #c1c1c1;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1rem;
    box-sizing: content-box; }
    .account__quickicon:hover, .account__quickicon:active {
      fill: #09181e;
      border: 1px solid #09181e; }

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 24, 30, 0.3);
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      -moz-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(9, 24, 30, 0.3); } }
  .popup__content {
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    padding-bottom: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40rem;
    align-items: center;
    transform: translate(-50%, -50%);
    box-shadow: 0rem 1.5rem 10rem rgba(9, 24, 30, 0.2); }
    @media only screen and (max-width: 75em) {
      .popup__content {
        height: auto;
        box-sizing: none; } }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 100%;
        height: 100%; } }
  .popup__header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 4rem 3rem;
    width: 100%; }
  .popup__icon {
    height: 2rem;
    width: 2rem;
    fill: #09181e;
    margin-right: 1rem; }
  .popup__title {
    color: #09181e; }
  .popup__form:not(:last-child) {
    margin-bottom: 2rem; }
  .popup__form--expires {
    display: flex; }
  .popup__input {
    font-family: inherit;
    font-size: 1.3rem;
    color: inherit;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #dadada;
    width: 34rem;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    transition: all .3s; }
    .popup__input::placeholder {
      opacity: .6;
      color: #09181e; }
    .popup__input:focus::placeholder, .popup__input:active::placeholder {
      opacity: 1; }
    .popup__input--password {
      border-radius: 3px 0 0 3px;
      width: 30rem;
      border-right: none; }
    .popup__input--expires {
      width: 17rem;
      border-radius: 3px 0 0 3px;
      z-index: 10; }
      .popup__input--expires:last-of-type {
        border-radius: 0 3px 3px 0;
        border-left: none; }
  .popup__generate {
    display: flex; }
  .popup__generate-icon {
    fill: #fff;
    background-color: #6cd4ff;
    border: 1px solid #6cd4ff;
    padding: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    box-sizing: content-box;
    z-index: 100;
    border-radius: 0 3px 3px 0;
    border-left: none; }
  .popup__popup-link:link, .popup__popup-link:visited {
    align-self: center;
    flex: 0 0 20%; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    color: #09181e;
    position: absolute;
    top: .75rem;
    right: 1rem;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    transition: all .3s; }
  .popup__close:hover {
    color: #75bad8; }

.generate {
  width: 34rem;
  margin-bottom: 3rem;
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 1.5rem;
  font-size: 1rem; }
  .generate > *:not(:last-child) {
    margin-bottom: 1rem; }
  .generate__form {
    display: flex;
    align-items: center; }
  .generate__input {
    font-family: inherit;
    font-size: 1.3rem;
    color: inherit;
    background-color: #fff;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #dadada;
    width: 35rem;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    transition: all .3s; }
  .generate__title {
    font-size: 1.3rem; }
  .generate__span {
    font-size: 1rem;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: .5rem .8rem;
    text-align: right; }
  .generate__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .generate__options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .generate__options > *:not(:last-child) {
      margin-bottom: 1rem; }
  .generate__range {
    display: flex;
    align-items: center;
    flex: 1 0 100%; }
    .generate__range label {
      margin-right: 1rem;
      font-size: 1.2rem; }
    .generate__range input {
      width: 100%; }
  .generate__button-row {
    display: flex;
    flex: 1 0 100%; }
  .generate__button {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #dadada;
    padding: .2rem;
    cursor: pointer;
    flex: 1; }
    .generate__button:not(:last-child) {
      margin-right: .5rem; }
    .generate__button:hover, .generate__button:active {
      background-color: #d2f2ff; }
  .generate__link-row {
    display: flex;
    flex: 1 0 100%; }
  .generate__link:link, .generate__link:visited {
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background-color: #fff;
    box-shadow: none;
    border-radius: 3px 0 0 3px;
    border: 1px solid #dadada;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around; }
    .generate__link:link:not(:last-child), .generate__link:visited:not(:last-child) {
      margin-right: .5rem; }
    .generate__link:link:hover, .generate__link:link:active, .generate__link:visited:hover, .generate__link:visited:active {
      background-color: #d2f2ff; }
  .generate__icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;
    box-sizing: content-box; }
