.details {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    ////////////// title & intro

    &__info {
        background-color: $color-white;
        flex: 1;
        display: flex;
        align-items: center;
        border-radius: 3px;
        box-shadow: $box-shadow;
        margin-bottom: 3rem;
        padding: 3rem;
    }

    &__title {
        margin-right: 2rem;
        font-size: 3rem;
    }

    &__accountdetails {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: $color-grey;
        margin-right: 1rem;
    }

    &__icon--adjust {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0;
        fill: $color-grey-dark;
    }

    &__icon--blue {
        fill: $color-blue;
    }

    &__icon-link:link,
    &__icon-link:active {
        text-decoration: none;
        padding: 1rem;
        margin-left: 1.5rem;
        background-color: $color-white;
        align-items: center;
        border-radius: 3px;
        display: inline-flex;

        &:hover {
            background-color: $color-grey-light;
        }
    }

    &__image {
        height: 10rem;
        object-fit: cover;
        margin-right: 2rem;
    }

    //////////////////// quickmenu

    &__quickmenu {
        background-color: $color-white;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        box-shadow: $box-shadow;
        font-size: 1.4rem;
    }

    &__quickmenulist {
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    &__quickmenuitem {
        flex: 1;

        &:not(:last-of-type) {
            border-right: 1px solid $color-grey;
        }
    }

    &__link:link,
    &__link:active {
        text-decoration: none;
        color: $color-grey;

        &:hover {
            background-color: $color-grey-light;
        }
    }

    ///////////////////////////////////// inputs

    
}