.menu {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid $color-grey-light;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-grey-dark, .3);
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 2rem;
        display: flex;
        align-items: center;

        @include respond(tab-port) {
            margin: 0;
        }
    }
    
    &__options,
    &__info {
        display: flex;
        align-items: center;
    }
    
    &__sort:link,
    &__sort:visited {
        text-decoration: none;
        color: $color-grey-dark;
        display: flex;
        align-items: center;  
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;
    
        &:not(:last-child) {
            margin-right: 2rem;
        }
    
        &:hover,
        &:active {
            background-color: $color-grey-light;
        }
    }

    &__filter-icon {
        height: 1.3rem;
        width: 1.3rem;
        padding: .2rem;
        box-sizing: content-box;
        fill: $color-grey-dark;
        display: inline-block;

        &--sort {
            margin-right: 1rem;

            @include respond(tab-port) {
                margin: 0;
            }
        }
    }

    &__filter {
        font-size: 1.1rem;
        font-weight: 600;

        @include respond(tab-port) { 
            display: none;
            visibility: none;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }


    ///////////////////////////////// expanded menu /////////////////////////////////////////
    

    &__icon {
        display: flex;
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 1rem;
        fill: $color-grey-dark;

        &--right {
            margin-left: auto;
            align-self: flex-end;
        }
    }

    &__subtitle {
        color: $color-grey-dark-2;
        margin-left: 3rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: $color-grey-light;
        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;
        padding: .4rem .7rem;
    }

    &__main {
        position: relative;
        background-color: $color-white;
        border-radius: 3px;
        padding: 1.1rem;
    }

    &__main-list {
        list-style: none;
        position: absolute;
        top: 6.5rem;
        background-color: $color-white;
        color: $color-green;
        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;  
    }

    &__main-item {
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light;
        }
    }

    &__main-link:link,
    &__main-link:visited {
        text-decoration: none;
        color: $color-grey-dark;
        
        cursor: pointer;
        display: flex; 
        align-items: center;   
        flex: 1;  
        padding: 1rem;
        
    }

    &__main-link:active,
    &__main-link:hover,
    &__main-link:focus-within {
        background-color: $color-green-light;
    }

//////////////////////////////// dropdown ////////////////////////////////////////////////

    &__main-hover {
        visibility: hidden;
        opacity: 0;
        display: none;

        position: absolute;
        margin-top: 1rem;
        left: 15rem;
        list-style: none;
        top: 7rem;

        width: auto;

        background-color: $color-white;
        color: $color-green;

        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;  
    }

    &__main-hover-item {
        clear: both;
        width: 100%;
        display: flex;
        white-space: nowrap;
    }
}

.menu__main-item:hover > .menu__main-hover,
.menu__main-item:focus-within > .menu__main-hover,
.menu__main-item .menu__main-hover:hover,
.menu__main-item .menu__main-hover:focus {
   visibility: visible;
   opacity: 1;
   display: flex;
   flex: 1;
}

//////////////////////// menu-bar position fixed //////////////////////////////////////

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}


/////////////////////////// open and close menu ///////////////////////////////////////////

.show {
    display: block;
}

.hide {
    display: none;
}