.search {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $color-grey-dark-2;
    border-radius: 3px;

    @include respond(phone) {
        margin: 1rem 0;
    }

    &__input {
        font-family: inherit;
        color: inherit;
        font-size: 1.2rem;
        border: none;

        @include respond(phone) { 
            display: none;
            visibility: none;
        }
    }

    &__button {
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        height: 1.3rem;
        width: 1.3rem;
        padding: .2rem;
        align-self: center;
        box-sizing: content-box;
        border-radius: 1rem;
    }

}