*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is
    font-size: 62.5%;

    @include respond(desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }

    @include respond(tab-port) {
        font-size: 56.25%; 
    }
}

body {
    box-sizing: border-box;

    @include respond(tab-port) { // width < 900?
        padding: 0;
    }
}

//::selection {
//    background-color: $color-primary;
//    color: $color-white;
//} 