.u-hide-phone {
    @include respond(phone) {
        display: none !important;
        visibility: none !important;
    }
}

.u-float-right {
    float: right !important;
    margin-left: auto !important;
    margin-right: 0 !important;
}